html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js')
    link(rel="stylesheet", href="main.styl")
  body
    header
      span GLSL Sandbox
      span →
      span Shadertoy
    .main
      .translator
        .editor.glsl-sandbox
        .editor.shadertoy
    script(src='main.js')
